*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    height: 400px;
    width: 400px;
    /* border: 1px solid black; */
}
.box{
    height: 200px;
    width: 200px;
    background-color:yellow;
    animation: orbit 2s linear  infinite ;
}
@keyframes orbit{
    0%{
       transform: translate(0,0);
       background-color: yellow;
    }
    25%{
        transform: translate(200px,0);
       background-color:purple;
    }
    50%{
        transform: translate(200px,200px);
       background-color:rgb(0, 0, 0);
    }
    75%{
        transform: translate(0px,200px);
       background-color:brown;
    }
}
.container-2{
    margin-left: 1000px;
    margin-bottom: 500px;
}
.box-2{
    height: 200px;
    width: 200px;
    background-color:yellow;
    animation: rotation 2s ease-in-out  infinite ;
}
@keyframes rotation{
   0%{
    transform: rotate(0deg);
    background-color: red;
   }
   20%{
    transform: rotate(60deg);
    background-color: #964B00;
   }
   100%{
    transform: rotate(360deg);
    background-color: green;
   }
   
}